  
body{
  background-image: url("bc1.jpg");
  color: ivory;
  font-size: 18px;
  /* font-family: sans-serif; */
}


.INGlist{
  margin-top: 15%;
  margin-left: -25%;
  list-style-type: "-";

}

.Sum{
  font-style: italic;
  font-size: 25px;

}

.steps{
  list-style-type: "";
  margin-left: 0%;
}

.HINGlist{
  margin-top: 10%;
  float:center;
  list-style-type: "-";

}
.IINGlist{
  margin-top: 10%;
  float:center;
  list-style-type: "-";

}

.BImage{
  width: 350px;
  height: auto;
  border-radius:10px;
  margin-left: -30%;

  /* float: center; */
}

.PrepInfo{
  margin-left: 40%;
  margin-top: -25%;
/* float:right; */

}
.TacoPrepInfo{
  margin-left: 40%;
  margin-top: -20%;
/* float:right; */

}

.HummusPrepInfo{
  margin-left: 40%;
  margin-top: -25%;
/* float:right; */

}

.PuriPrepInfo{
  margin-left: 40%;
  margin-top: -20%;
/* float:right; */

}
.Proced{
  float:center;
  /* margin-left: -30%; */
}

.anime{
  margin-left: 43%;
  margin-top: -63%;

}

.bTacos{
  margin-left: 47%;
  margin-top: -90%;
  width: 350px;
  height: auto;
  border-radius:10px;

}

/* .Ipuri{
  margin-left: 47%;
  margin-top: -90%;
  width: 1px;
  height: auto;
  border-radius:10px;
} */

.links{
 color: Gray;
}