#menubutton{
	left:0;
	top:0;
	position: absolute;
	margin: 0;
}

#menuicon{
	width: 40px;
}

ul{
	display: inline;
	margin:0;
	padding: 0;
}

ul li{
	display: inline-block;
}

ul li:hover{
	background: black;
}

ul li:hover ul{
	display: block;
}

ul li ul{
	position: absolute;
	width: 150px;
	display: none;
}

ul li ul li{
	background: lightgrey;
	display: block;
}

ul li ul li a{
	display: block !important;
}

ul li ul li:hover{
	background: grey;
}
