.arrowl{
  font-weight: bold;
  font-size: 50pt;
  position: absolute;
  top: 45%;
  padding-left: 5;
  transition: 0.6s ease;
}
.arrowr{
  font-weight: bold;
  font-size: 50pt;
  position: absolute;
  right: 34%;
  top: 45%;
  transition: 0.6s ease;
}
.arrowl:hover, .arrowr:hover{
  transform: scale(1.5);
}
.container{
  width: 500px;
  height: 100%;
  border: 4px solid black;
  display: flex;
  padding: 0;
  margin: auto;
  white-space: nowrap;
}
.border{
  width: 300px;
  height: 200px;
  margin: auto;
  top: 50%;
  border: 2px solid grey;
}

#slideshow{
  overflow: hidden;
  height: 200px;
  width: 300px;
  margin: 0 auto;
}
.image{
    animation: slide 10s ease infinite;
}

@keyframes slide {
  10% {
    margin-left: 0px;
  }
  40%{
    margin-left: -305px;
  }
  65%{
    margin-left: -610px;
  }
}
